@font-face {
  font-family: 'Golos-Regular';
  src: url("../fonts/Golos-Regular.eot");
  src: url("../fonts/Golos-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Regular.woff2") format("woff2"), url("../fonts/Golos-Regular.woff") format("woff"), url("../fonts/Golos-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Golos-Medium';
  src: url("../fonts/Golos-Medium.eot");
  src: url("../fonts/Golos-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Medium.woff2") format("woff2"), url("../fonts/Golos-Medium.woff") format("woff"), url("../fonts/Golos-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '../fonts/Golos-Black';
  src: url("../fonts/Golos-Black.eot");
  src: url("../fonts/Golos-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Black.woff2") format("woff2"), url("../fonts/Golos-Black.woff") format("woff"), url("../fonts/Golos-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Golos-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: white;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 0; }

h1 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 28px;
  color: #FFFFFF; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 30px; } }
  @media (max-width: 990px) {
    h1 {
      font-size: 26px;
      text-align: center; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 25px; } }

h2 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #1F2531; }
  @media (max-width: 768px) {
    h2 {
      font-size: 24px; } }

p {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #3B3F48; }

a.btn, button.btn {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 11px 30px;
  background: -o-linear-gradient(244.25deg, #0066FF 6.15%, #2CE0C5 142.76%);
  background: linear-gradient(205.75deg, #0066FF 6.15%, #2CE0C5 142.76%);
  border-radius: 4px; }
  a.btn.transparent, button.btn.transparent {
    background: transparent;
    border: 1px solid white; }
  a.btn.green, button.btn.green {
    background: #5CC76E;
    font-weight: normal; }
  a.btn.l-tr, button.btn.l-tr {
    background: transparent;
    border: 1px solid #DFE4EB;
    color: black;
    width: 100%;
    font-weight: normal;
    white-space: nowrap; }
    a.btn.l-tr svg, button.btn.l-tr svg {
      margin-right: 16px; }
    a.btn.l-tr i, button.btn.l-tr i {
      color: #5CC76E;
      font-style: normal;
      margin-left: 6px; }

.or {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #A5ACAF;
  text-transform: uppercase;
  margin: 20px 0;
  width: 100%; }

.gradient-color {
  width: 100%;
  height: auto;
  min-height: 502px;
  background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .gradient-color {
      padding: 10px 0; } }

@media (max-width: 768px) {
  .logo svg {
    max-width: 180px; } }

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin-top: 120px; }
  @media (max-width: 768px) {
    .center-block {
      margin-top: 30px; } }

.soc-box {
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .soc-box a {
    margin-right: 22px; }
    .soc-box a:nth-last-child(1) {
      margin-right: 0; }
    .soc-box a svg {
      width: 24px; }
    .soc-box a:hover {
      opacity: 0.6; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  max-width: 460px;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px; } }
  form .form-group {
    position: relative; }
    form .form-group.input {
      width: calc(100% - 160px);
      height: 44px;
      margin-right: 10px; }
      @media (max-width: 768px) {
        form .form-group.input {
          width: 100%;
          margin-bottom: 12px;
          margin-right: 0; } }
      form .form-group.input input {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border: 1px solid #DFE4EB;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 13px 20px; }
        form .form-group.input input::-webkit-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC; }
        form .form-group.input input::-moz-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC; }
        form .form-group.input input:-ms-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC; }
        form .form-group.input input::-ms-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC; }
        form .form-group.input input::placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC; }
  form .form-button {
    width: 150px;
    height: 44px;
    background: #5CC76E;
    border: 1px solid #5CC76E;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 0; }
    @media (max-width: 768px) {
      form .form-button {
        width: 100%; } }

.img {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 768px) {
    .img {
      width: 100%; } }
  .img img {
    width: 110%;
    -webkit-transform: translateX(3%);
    -ms-transform: translateX(3%);
    transform: translateX(3%); }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  z-index: 20;
  background-color: #070E1E;
  border-bottom: 2px solid #141F34; }
  @media (max-width: 1200px) {
    header {
      height: 75px; } }
  header .head-mobile {
    width: 95%;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 990px) {
      header .head-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  header .head-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .head-container .left-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    header .head-container .right-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 990px) {
        header .head-container .right-column {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      header .head-container .right-column .register-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 990px) {
          header .head-container .right-column .register-box {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 25px 0; } }
        header .head-container .right-column .register-box a {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #FFFFFF;
          margin: 0 15px;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          text-align: center; }
          header .head-container .right-column .register-box a:hover {
            color: #999999; }
          header .head-container .right-column .register-box a.btn {
            padding: 11px 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: -o-linear-gradient(244.25deg, #0066FF 6.15%, #2CE0C5 142.76%);
            background: linear-gradient(205.75deg, #0066FF 6.15%, #2CE0C5 142.76%);
            border-radius: 4px;
            font-family: 'Golos-Medium', sans-serif;
            margin-right: 30px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            @media (max-width: 990px) {
              header .head-container .right-column .register-box a.btn {
                margin-top: 12px;
                margin-right: 0; } }
            header .head-container .right-column .register-box a.btn:hover {
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
              color: white; }
    @media (max-width: 990px) {
      header .head-container {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100vw;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #070E1E; }
        header .head-container.show {
          -webkit-transform: translate(0);
          -ms-transform: translate(0);
          transform: translate(0); }
          header .head-container.show .logo {
            display: none; }
          header .head-container.show .select2-container {
            margin-right: -35px; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px; }
  .logo .brand-img {
    margin-right: 16px; }
  .logo .brand-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF; }
    @media (max-width: 990px) {
      .logo .brand-text {
        font-size: 16px; } }
    .logo .brand-text span {
      margin-bottom: 6px;
      white-space: nowrap; }
    .logo .brand-text svg {
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }

.menu-close {
  display: none; }
  @media (max-width: 990px) {
    .menu-close {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 30px;
      top: 40px; } }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 990px) {
    nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 990px) {
    nav ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin: 0;
      margin-bottom: 25px; } }
  nav ul li .menu-item {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-right: 30px; }
    @media (max-width: 990px) {
      nav ul li .menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        margin: 0; } }

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered:hover, .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  border: none; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .select2-container--default .select2-selection--single:hover, .select2-container--default .select2-selection--single:focus {
    border: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #FFFFFF; }
  .select2-container--default .select2-selection--single .select2-selection__rendered:hover, .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    border: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0 !important;
  height: 10px !important;
  left: 50% !important;
  margin-left: -4px !important;
  margin-top: -2px !important;
  position: absolute !important;
  top: 50% !important;
  width: 16px !important; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    content: url("../img/down-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-250%, -65%);
    -ms-transform: translate(-250%, -65%);
    transform: translate(-250%, -65%); }

.main-page {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 90%;
  max-width: 1240px; }
  .main-page .main-two-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%; }
    @media (max-width: 990px) {
      .main-page .main-two-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 20px; } }
    .main-page .main-two-block .text-block {
      width: calc(100% - 525px); }
      @media (max-width: 990px) {
        .main-page .main-two-block .text-block {
          width: 100%; } }
      .main-page .main-two-block .text-block p {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 22px; }
        @media (max-width: 1200px) {
          .main-page .main-two-block .text-block p {
            font-size: 14px; } }
        @media (max-width: 990px) {
          .main-page .main-two-block .text-block p {
            text-align: center; } }
    .main-page .main-two-block .img-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 400px; }
      .main-page .main-two-block .img-block img {
        width: 100%; }
      @media (max-width: 990px) {
        .main-page .main-two-block .img-block {
          width: 100%;
          max-width: 400px; } }
  .main-page p {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #FFFFFF; }

.frame-box {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1240px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .frame-box {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .frame-box a {
    width: 22%;
    min-width: 260px; }
    @media (max-width: 1200px) {
      .frame-box a {
        margin-bottom: 25px; } }
    .frame-box a img {
      width: 100%; }

.text-divider {
  margin: 30px 0;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #88919C;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .text-divider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .text-divider svg {
    margin-right: 25px; }
    @media (max-width: 768px) {
      .text-divider svg {
        margin-right: 0; } }
  .text-divider span {
    padding: 0 30px;
    border-right: 1px solid #88919C; }
    @media (max-width: 768px) {
      .text-divider span {
        border: none; } }
  .text-divider a {
    color: #88919C;
    margin-left: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      .text-divider a {
        margin-left: 0; } }
    .text-divider a svg {
      margin-left: 8px;
      padding-top: 3px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.table-wrap {
  width: 90%;
  max-width: 1240px;
  overflow-x: hidden;
  margin: 15px auto;
  padding-bottom: 20px; }
  @media (max-width: 990px) {
    .table-wrap {
      overflow-x: scroll; } }
  .table-wrap::-webkit-scrollbar {
    height: 3px; }
  .table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  .table-wrap::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

.exchange-table {
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0 40px;
  padding-bottom: 30px;
  min-width: 760px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .exchange-table {
      padding: 0 20px;
      padding-bottom: 15px; } }
  .exchange-table .table-head {
    padding: 20px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .exchange-table .table-head .td {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      color: #88919C;
      width: 28%; }
      .exchange-table .table-head .td.last {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 16%; }
  .exchange-table .tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E7E7E7; }
    .exchange-table .tr:nth-last-child(1) {
      border: none; }
    .exchange-table .tr .td {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 28%; }
      .exchange-table .tr .td.chart {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 16%; }
      .exchange-table .tr .td.change {
        color: #5CC76E; }
        .exchange-table .tr .td.change.out {
          color: #E76B66; }
      .exchange-table .tr .td .coin {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .exchange-table .tr .td .coin .coin-logo {
          margin-right: 15px; }
        .exchange-table .tr .td .coin .coin-ab {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          color: #1F2531;
          margin-right: 5px; }
        .exchange-table .tr .td .coin .coin-name {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #88919C; }

.center-block {
  max-width: 1240px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0;
  margin: auto; }
  @media (max-width: 768px) {
    .center-block {
      padding: 30px 0; } }

.why-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .why-block {
      margin-top: 25px;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .why-block .why-item {
    width: 30%;
    min-width: 290px;
    padding: 40px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 20px; }
    @media (max-width: 1200px) {
      .why-block .why-item {
        padding: 20px; } }
  .why-block h3 {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    color: #1F2531;
    margin: 26px auto; }

.two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1240px;
  margin: auto;
  padding: 50px 0; }
  @media (max-width: 990px) {
    .two-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .two-block .column {
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .two-block .column img {
      width: 90%;
      max-width: 360px; }
    @media (max-width: 768px) {
      .two-block .column {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: 360px;
        margin-bottom: 20px; } }
    .two-block .column h2 {
      margin-bottom: 35px;
      text-align: left; }
      @media (max-width: 768px) {
        .two-block .column h2 {
          margin-bottom: 15px;
          text-align: center; } }
    .two-block .column p {
      margin-bottom: 70px;
      max-width: 360px; }
      @media (max-width: 768px) {
        .two-block .column p {
          margin-bottom: 25px;
          text-align: center; } }
    .two-block .column.center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .button-box {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 200px; }
      .button-box a {
        width: 100%; }
        .button-box a svg {
          width: 100%; } }
  .button-box a {
    margin: 5px; }

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
  background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0 160px 0;
  margin: auto; }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    max-width: 1240px; }
    footer .footer-content .center-block {
      margin: auto;
      margin-bottom: 40px;
      max-width: 911px; }
      footer .footer-content .center-block h2 {
        color: white;
        font-weight: 500;
        font-size: 36px; }
        @media (max-width: 768px) {
          footer .footer-content .center-block h2 {
            font-size: 24px; } }
    footer .footer-content .button-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 50px auto; }
      @media (max-width: 768px) {
        footer .footer-content .button-box {
          margin: 35px 0; } }
    footer .footer-content .sub-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 40px 0;
      border-bottom: 1px solid #3A465B;
      border-top: 1px solid #3A465B;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      footer .footer-content .sub-menu .sub-menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 35px;
        min-width: 200px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content; }
        footer .footer-content .sub-menu .sub-menu-item p {
          margin-top: 20px;
          color: white;
          font-size: 14px;
          max-width: 265px; }
          footer .footer-content .sub-menu .sub-menu-item p a {
            color: white; }

.footer-link {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #BCBCBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-link svg {
    margin-right: 8px; }
  .footer-link.caption {
    color: white;
    margin-bottom: 15px;
    margin-top: 17px; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 0; }
  @media (max-width: 768px) {
    .footer-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-bottom .corp {
        margin-top: 20px;
        text-align: center; } }
  .footer-bottom .select2-container--default .select2-selection--single {
    border: 1px solid white;
    border-radius: 2px; }
  .footer-bottom .select2-container--default .select2-selection--single .select2-selection__rendered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-bottom .select2-container--default .select2-selection--single .select2-selection__rendered:before {
    content: url("../img/globe.svg");
    margin-right: 5px; }
  .footer-bottom .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    -webkit-transform: translate(-80%, -65%);
    -ms-transform: translate(-80%, -65%);
    transform: translate(-80%, -65%); }

.corp {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4); }

.team-page, .contacts-page {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px; }
  .team-page .center-block, .contacts-page .center-block {
    margin-top: 50px; }
    .team-page .center-block h2, .contacts-page .center-block h2 {
      color: white;
      margin-bottom: 30px; }
    .team-page .center-block p, .contacts-page .center-block p {
      color: white;
      margin-bottom: 50px;
      max-width: 920px;
      text-align: center;
      font-size: 18px;
      line-height: 1.6; }

.contacts-page {
  padding-top: 0; }

.team-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-block h2 {
    color: white;
    margin-bottom: 30px; }
  .team-block .team-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .team-block .team-box .team__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 280px;
      margin-bottom: 50px; }
      @media (max-width: 768px) {
        .team-block .team-box .team__item {
          margin-bottom: 25px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .team-block .team-box .team__item .team-img {
        width: 100%; }
        .team-block .team-box .team__item .team-img img {
          width: 100%; }
      .team-block .team-box .team__item .team-name {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-left: 50px; }
        @media (max-width: 768px) {
          .team-block .team-box .team__item .team-name {
            margin-left: 0; } }
      .team-block .team-box .team__item .team-position {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.7;
        color: #8C90A5;
        margin-left: 50px; }
        @media (max-width: 768px) {
          .team-block .team-box .team__item .team-position {
            margin-left: 0; } }

.contact-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  border-radius: 8px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 500px; }
  @media (max-width: 768px) {
    .contact-form {
      padding: 15px; } }
  .contact-form .form-group {
    width: 100%;
    margin-bottom: 25px; }
    .contact-form .form-group input, .contact-form .form-group textarea, .contact-form .form-group select {
      width: 100%;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #FFFFFF;
      border: 1px solid #EAE9F2;
      border-radius: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.4);
      height: 44px;
      padding: 0 12px;
      font-family: 'Golos-Rgular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.562737px;
      color: #696871; }
      .contact-form .form-group input option, .contact-form .form-group textarea option, .contact-form .form-group select option {
        color: inherit; }
    .contact-form .form-group label {
      margin-bottom: 5px;
      font-size: 13px; }
    .contact-form .form-group .file-upload {
      background: #FFFFFF;
      border: 1px solid #BCBCBC;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      padding: 12px;
      position: relative;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 1.3;
      color: #333333;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .contact-form .form-group .file-upload i {
        color: #408EDD;
        font-style: normal; }
    .contact-form .form-group .file-upload:hover, .contact-form .form-group .file-upload:active, .contact-form .form-group .file-upload:focus {
      border: 1px solid #408EDD; }
    .contact-form .form-group .file-upload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 148px;
      height: 46px;
      cursor: pointer; }
    .contact-form .form-group input[type="file"] {
      position: fixed;
      right: 100%;
      bottom: 100%; }
    .contact-form .form-group .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer; }
  .contact-form textarea {
    min-height: 120px; }
  .contact-form button {
    width: 100%;
    min-height: 44px; }

.place {
  padding: 40px;
  width: 100%;
  max-width: 600px;
  background: -o-linear-gradient(349.78deg, rgba(0, 102, 255, 0.1) 0%, rgba(44, 224, 197, 0.1) 100%);
  background: linear-gradient(100.22deg, rgba(0, 102, 255, 0.1) 0%, rgba(44, 224, 197, 0.1) 100%);
  border-radius: 10px;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 100px; }
  .place .contract {
    font-size: 20px;
    margin-top: 10px; }

.token-page .two-block h2 {
  color: white;
  text-align: left; }
.token-page .two-block p {
  color: white;
  margin-bottom: 35px;
  max-width: 550px; }

.token-table {
  background: #0D1C33;
  border: 1px solid #8C90A5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 900px; }
  .token-table .tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #8C90A5; }
    .token-table .tr:nth-last-child(1) {
      border: none; }
    .token-table .tr .td {
      padding: 20px 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.5;
      color: #FFFFFF;
      width: 22%;
      text-align: center;
      min-width: 160px;
      border-left: 1px solid #8C90A5;
      white-space: nowrap; }
      .token-table .tr .td:nth-child(1) {
        width: 10%;
        min-width: 40px;
        border: none; }

.ref-place {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px; }
  @media (max-width: 990px) {
    .ref-place {
      padding: 20px; } }
  .ref-place h3 {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    margin-bottom: 50px;
    text-align: center; }
    @media (max-width: 768px) {
      .ref-place h3 {
        margin-bottom: 20px; } }
  .ref-place .how-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .ref-place .how-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%; }
    @media (max-width: 990px) {
      .ref-place .how-box {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .ref-place .how-box .how-box__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 30%;
      min-width: 220px; }
      @media (max-width: 990px) {
        .ref-place .how-box .how-box__item {
          margin-bottom: 20px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .ref-place .how-box .how-box__item .how-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #BCBCBC;
        width: 100%;
        height: 200px;
        margin-bottom: 30px; }
      .ref-place .how-box .how-box__item h4 {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        color: #000000;
        margin-bottom: 10px; }
      .ref-place .how-box .how-box__item p {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.6;
        color: #3A465B;
        text-align: left; }

.place-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .place-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .place-box .column {
    width: 48%; }
    @media (max-width: 768px) {
      .place-box .column {
        width: 100%;
        margin-bottom: 10px; } }
  .place-box .ref-place {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .place-box .ref-place {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .place-box .ref-place p {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 1.6;
      color: #000000;
      text-align: left; }
    .place-box .ref-place h3 {
      text-align: left; }
    .place-box .ref-place .btn {
      margin-top: 50px;
      width: 100%; }

.span-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6;
  color: #8C90A5;
  margin-bottom: 20px; }
  .span-box span {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.input-box {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .input-box .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%; }
    .input-box .form-group label {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #8C90A5;
      margin-bottom: 8px; }
    .input-box .form-group input {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #272736;
      border: none;
      background-color: transparent;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .input-box .form-group input:hover, .input-box .form-group input:focus {
        outline: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none; }

.value-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  width: 100%; }
  .value-box .value-item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .value-box .value-item span {
      background: #FFFFFF;
      border: 1px solid #BCBCBC;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px;
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #272736;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      margin-left: 20px; }
      .value-box .value-item span:focus, .value-box .value-item span:hover {
        background: #E9FAF5;
        border: 1px solid #52CD9B; }

.note {
  width: 100%;
  padding: 12px 0;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6;
  color: #8C90A5;
  border-bottom: 1px solid #DFE4EB;
  margin: 20px 0; }

.check-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer; }

.check-group label {
  position: relative;
  cursor: pointer;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #8C90A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .check-group label a {
    color: #5CC76E;
    margin-left: 8px; }

.check-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #DFE4EB;
  border-radius: 100%;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px; }

.check-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #DFE4EB;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.hint {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  color: #8C90A5;
  margin-top: 8px; }

.link {
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 7px 25px; }
  .link svg {
    margin-right: 12px; }

.hint-link {
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  color: #A5ACAF; }

.contact-form.mail {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-form.mail svg {
    margin-bottom: 40px; }

.ver-code {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ver-code p {
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: black !important;
    margin-bottom: 12px !important; }
  .ver-code .code {
    font-size: 30px;
    padding: 10px 0;
    text-align: center; }

.hint-text span {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 25px; }
.hint-text ul {
  list-style: none;
  padding-left: 0; }
  .hint-text ul li {
    font-size: 12px;
    color: #999999; }

form.main-form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px; }
  @media (max-width: 1200px) {
    form.main-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  form.main-form .form-group {
    width: calc(100% - 220px);
    margin-bottom: 0; }
    @media (max-width: 1200px) {
      form.main-form .form-group {
        width: 100%;
        margin-bottom: 10px; } }
    form.main-form .form-group input {
      background: #FFFFFF;
      border-radius: 4px;
      width: 100%;
      height: 44px;
      padding: 10px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      form.main-form .form-group input::-webkit-input-placeholder {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #8C90A5; }
      form.main-form .form-group input::-moz-placeholder {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #8C90A5; }
      form.main-form .form-group input:-ms-input-placeholder {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #8C90A5; }
      form.main-form .form-group input::-ms-input-placeholder {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #8C90A5; }
      form.main-form .form-group input::placeholder {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #8C90A5; }
  form.main-form button {
    width: 200px;
    white-space: nowrap;
    height: 44px;
    margin: 0;
    margin-left: 20px; }
    @media (max-width: 1200px) {
      form.main-form button {
        width: 100%;
        margin: 0; } }

/*# sourceMappingURL=style.css.map */
