@font-face {
  font-family: 'Golos-Regular';
  src: url("../fonts/Golos-Regular.eot");
  src: url("../fonts/Golos-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Regular.woff2") format("woff2"), url("../fonts/Golos-Regular.woff") format("woff"), url("../fonts/Golos-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Golos-Medium';
  src: url("../fonts/Golos-Medium.eot");
  src: url("../fonts/Golos-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Medium.woff2") format("woff2"), url("../fonts/Golos-Medium.woff") format("woff"), url("../fonts/Golos-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '../fonts/Golos-Black';
  src: url("../fonts/Golos-Black.eot");
  src: url("../fonts/Golos-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Black.woff2") format("woff2"), url("../fonts/Golos-Black.woff") format("woff"), url("../fonts/Golos-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Golos-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: white;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 0; }

h1 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 28px;
  color: #FFFFFF; }
  @media (max-width: 768px) {
    h1 {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 25px; } }

p {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 22px; }

.gradient-color {
  width: 100%;
  height: auto;
  min-height: 502px;
  background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
  background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .gradient-color {
      padding: 10px 0; } }

@media (max-width: 768px) {
  .logo svg {
    max-width: 180px; } }

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin-top: 120px; }
  @media (max-width: 768px) {
    .center-block {
      margin-top: 30px; } }

.soc-box {
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .soc-box a {
    margin-right: 22px; }
    .soc-box a:nth-last-child(1) {
      margin-right: 0; }
    .soc-box a svg {
      width: 24px; }
    .soc-box a:hover {
      opacity: 0.6; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  max-width: 460px;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px; } }
  form .form-group.input {
    width: calc(100% - 160px);
    height: 44px;
    margin-right: 10px; }
    @media (max-width: 768px) {
      form .form-group.input {
        width: 100%;
        margin-bottom: 12px;
        margin-right: 0; } }
    form .form-group.input input {
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      border: 1px solid #DFE4EB;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 13px 20px; }
      form .form-group.input input::-webkit-input-placeholder {
        font-family: 'Golos', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ACACAC; }
      form .form-group.input input::-moz-placeholder {
        font-family: 'Golos', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ACACAC; }
      form .form-group.input input:-ms-input-placeholder {
        font-family: 'Golos', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ACACAC; }
      form .form-group.input input::-ms-input-placeholder {
        font-family: 'Golos', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ACACAC; }
      form .form-group.input input::placeholder {
        font-family: 'Golos', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ACACAC; }
  form .form-button {
    width: 150px;
    height: 44px;
    background: #5CC76E;
    border: 1px solid #5CC76E;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 0; }
    @media (max-width: 768px) {
      form .form-button {
        width: 100%; } }

.img {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 768px) {
    .img {
      width: 100%; } }
  .img img {
    width: 110%;
    -webkit-transform: translateX(3%);
    -ms-transform: translateX(3%);
    transform: translateX(3%); }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  z-index: 20;
  background-color: #070E1E;
  border-bottom: 2px solid #141F34; }
  header .head-container {
    width: 95%;
    display: flex;
    justify-content: space-between; }
    header .head-container .left-column {
      display: flex;
      align-items: center; }
    header .head-container .right-column {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header .head-container .right-column .register-box {
        display: flex; }
        header .head-container .right-column .register-box a {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin: 0 15px;
          transition: all 0.5s ease; }
          header .head-container .right-column .register-box a:hover {
            color: #999999; }
          header .head-container .right-column .register-box a.btn {
            padding: 11px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(205.75deg, #0066FF 6.15%, #2CE0C5 142.76%);
            border-radius: 4px;
            font-family: 'Golos-Medium', sans-serif;
            margin-right: 30px;
            transition: all 0.5s ease; }
            header .head-container .right-column .register-box a.btn:hover {
              transform: scale(1.05);
              color: white; }
    header .head-container .logo {
      display: flex;
      align-items: center;
      margin-right: 50px; }
      header .head-container .logo .brand-img {
        margin-right: 16px; }
      header .head-container .logo .brand-text {
        display: flex;
        flex-direction: column;
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF; }
        header .head-container .logo .brand-text span {
          margin-bottom: 6px; }
        header .head-container .logo .brand-text svg {
          transform: translateZ(0); }

nav ul {
  display: flex; }
  nav ul li .menu-item {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-right: 30px; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered:hover, .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  border: none; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  width: max-content;
  display: flex;
  align-items: center; }
  .select2-container--default .select2-selection--single:hover, .select2-container--default .select2-selection--single:focus {
    border: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #FFFFFF; }
  .select2-container--default .select2-selection--single .select2-selection__rendered:hover, .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    border: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0 !important;
  height: 10px !important;
  left: 50% !important;
  margin-left: -4px !important;
  margin-top: -2px !important;
  position: absolute !important;
  top: 50% !important;
  width: 16px !important; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    content: url("../img/down-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -65%); }

.main-page {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  max-width: 1240px; }
  .main-page .main-two-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
    .main-page .main-two-block .text-block {
      width: calc(100% - 525px); }
    .main-page .main-two-block .img-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 400px; }
      .main-page .main-two-block .img-block img {
        width: 100%; }
  .main-page p {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #FFFFFF; }

.frame-box {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1240px;
  flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .frame-box {
      justify-content: space-around; } }
  .frame-box a {
    width: 22%;
    min-width: 260px; }
    @media (max-width: 1200px) {
      .frame-box a {
        margin-bottom: 25px; } }
    .frame-box a img {
      width: 100%; }

.text-divider {
  margin: 30px 0;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #88919C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .text-divider svg {
    margin-right: 25px; }
  .text-divider span {
    padding: 0 30px;
    border-right: 1px solid #88919C; }
  .text-divider a {
    color: #88919C;
    margin-left: 22px;
    display: flex;
    align-items: center; }
    .text-divider a svg {
      margin-left: 6px; }

.exchange-table {
  background: #FFFFFF;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 90%;
  max-width: 1240px;
  padding: 0 40px;
  margin: 15px auto;
  padding-bottom: 30px; }
  .exchange-table .table-head {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .exchange-table .table-head .td {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #88919C;
      width: 28%; }
      .exchange-table .table-head .td.last {
        justify-content: center;
        display: flex;
        width: 16%; }
  .exchange-table .tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E7E7E7; }
    .exchange-table .tr:nth-last-child(1) {
      border: none; }
    .exchange-table .tr .td {
      display: flex;
      width: 28%; }
      .exchange-table .tr .td.chart {
        justify-content: center;
        display: flex;
        width: 16%; }
      .exchange-table .tr .td.change {
        color: #5CC76E; }
        .exchange-table .tr .td.change.out {
          color: #E76B66; }
      .exchange-table .tr .td .coin {
        display: flex;
        align-items: center; }
        .exchange-table .tr .td .coin .coin-logo {
          margin-right: 15px; }
        .exchange-table .tr .td .coin .coin-ab {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          color: #1F2531;
          margin-right: 5px; }
        .exchange-table .tr .td .coin .coin-name {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          display: flex;
          align-items: center;
          color: #88919C; }

.center-block {
  max-width: 1450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0;
  margin: auto; }
  .center-block h2 {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
