@font-face {
  font-family: 'Golos-Regular';
  src: url('../fonts/Golos-Regular.eot');
  src:
          url('../fonts/Golos-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Golos-Regular.woff2') format('woff2'),
          url('../fonts/Golos-Regular.woff') format('woff'),
          url('../fonts/Golos-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-Medium';
  src: url('../fonts/Golos-Medium.eot');
  src:
          url('../fonts/Golos-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Golos-Medium.woff2') format('woff2'),
          url('../fonts/Golos-Medium.woff') format('woff'),
          url('../fonts/Golos-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../fonts/Golos-Black';
  src: url('../fonts/Golos-Black.eot');
  src:
          url('../fonts/Golos-Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Golos-Black.woff2') format('woff2'),
          url('../fonts/Golos-Black.woff') format('woff'),
          url('../fonts/Golos-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100vw;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: "Golos-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: white;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

h1 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 28px;
  color: #FFFFFF;

  @media (max-width: 1200px) {
    font-size: 30px;
  }

  @media (max-width: 990px) {
    font-size: 26px;
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

h2 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #1F2531;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

p {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #3B3F48;
}

a.btn, button.btn {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 11px 30px;
  background: linear-gradient(205.75deg, #0066FF 6.15%, #2CE0C5 142.76%);
  border-radius: 4px;

  &.transparent {
    background: transparent;
    border: 1px solid white;
  }
}


.gradient-color {
  width: 100%;
  height: auto;
  min-height: 502px;
  background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
  background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 10px 0;
  }
}

.logo {
  @media (max-width: 768px) {
    svg {
      max-width: 180px;
    }
  }
}

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin-top: 120px;

  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

.soc-box {
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  a {
    margin-right: 22px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
    svg {
      width: 24px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  max-width: 460px;
  margin-bottom: 60px;
  @media (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-group {
    &.input {
      width: calc(100% - 160px);
      height: 44px;
      margin-right: 10px;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 12px;
        margin-right: 0;
      }

      input {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border: 1px solid #DFE4EB;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 13px 20px;
        &::-webkit-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC;
        }
        &::-moz-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC;
        }
        &:-ms-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC;
        }
        &::-ms-input-placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC;
        }
        &::placeholder {
          font-family: 'Golos', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #ACACAC;
        }
      }
    }
  }
  .form-button {
    width: 150px;
    height: 44px;
    background: #5CC76E;
    border: 1px solid #5CC76E;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 0;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.img {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 110%;
    -webkit-transform: translateX(3%);
    -ms-transform: translateX(3%);
    transform: translateX(3%);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  z-index: 20;
  background-color: #070E1E;
  border-bottom: 2px solid #141F34;

  @media (max-width: 1200px) {
    height: 75px;
  }

  .head-mobile {
    width: 95%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 990px) {
      display: flex;
    }
  }

  .head-container {
    width: 95%;
    display: flex;
    justify-content: space-between;

    .left-column {
      display: flex;
      align-items: center;
    }

    .right-column {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 990px) {
        flex-direction: column;
      }

      .register-box {
        display: flex;

        @media (max-width: 990px) {
          flex-direction: column;
          align-items: center;
          margin: 25px 0;
        }

        a {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin: 0 15px;
          transition: all 0.5s ease;
          text-align: center;


          &:hover {
            color: #999999;
          }

          &.btn {
            padding: 11px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(205.75deg, #0066FF 6.15%, #2CE0C5 142.76%);
            border-radius: 4px;
            font-family: 'Golos-Medium', sans-serif;
            margin-right: 30px;
            transition: all 0.5s ease;

            @media (max-width: 990px) {
              margin-top: 12px;
              margin-right: 0;
            }

            &:hover {
              transform: scale(1.05);
              color: white;
            }
          }
        }
      }
    }

    @media (max-width: 990px) {
      transform: translateX(-100%);
      transition: all 0.5s ease;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #070E1E;
      &.show {
        transform: translate(0);

        .logo {
          display: none;
        }

        .select2-container {
          margin-right: -35px;
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 50px;

  .brand-img {
    margin-right: 16px;
  }

  .brand-text {
    display: flex;
    flex-direction: column;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;

    @media (max-width: 990px) {
      font-size: 16px;
    }

    span {
      margin-bottom: 6px;
      white-space: nowrap;
    }

    svg {
      transform: translateZ(0);
    }
  }
}

.menu-close {
  display: none;
  @media (max-width: 990px) {
    display: flex;
    position: absolute;
    right: 30px;
    top: 40px
  }
}

nav {
  ul {
    display: flex;

    @media (max-width: 990px) {
      flex-direction: column;
    }

    li {
      @media (max-width: 990px) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
      }
      .menu-item {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-right: 30px;

        @media (max-width: 990px) {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  &:hover, &:focus {
    border: none;
  }
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  width: max-content;
  display: flex;
  align-items: center;

  &:hover, &:focus {
    border: none;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #FFFFFF;
  &:hover, &:focus {
    border: none;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: transparent!important;
  border-style: solid!important;
  border-width: 0!important;
  height: 10px!important;
  left: 50%!important;
  margin-left: -4px!important;
  margin-top: -2px!important;
  position: absolute!important;
  top: 50%!important;
  width: 16px!important;
  &:before {
    content: url("../img/down-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -65%);
  }
}

.main-page {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  max-width: 1240px;

  .main-two-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media (max-width: 990px) {
      flex-direction: column;
      align-items: center;
      padding-top: 90px;
      padding-bottom: 20px;
    }


    .text-block {
      width: calc(100% - 525px);

      @media (max-width: 990px) {
        width: 100%;
      }

      p {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 22px;

        @media (max-width: 1200px) {
          font-size: 14px;
        }

        @media (max-width: 990px) {
          text-align: center;
        }
      }

    }
    .img-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 400px;
      img {
        width: 100%;
      }

      @media (max-width: 990px) {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  p {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }
}

.frame-box {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1240px;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    justify-content: space-around;
  }

  a {
    width: 22%;
    min-width: 260px;
    @media (max-width: 1200px) {
      margin-bottom: 25px;
    }
    img {
      width: 100%;
    }
  }
}

.text-divider {
  margin: 30px 0;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #88919C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  svg {
    margin-right: 25px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  span {
    padding: 0 30px;
    border-right: 1px solid #88919C;
    @media (max-width: 768px) {
      border: none;
    }
  }

  a {
    color: #88919C;
    margin-left: 22px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      margin-left: 0;
    }

    svg {
      margin-left: 8px;
      padding-top: 3px;
      box-sizing: border-box;
    }
  }
}

.table-wrap {
  width: 90%;
  max-width: 1240px;
  overflow-x: scroll;
  margin: 15px auto;
}

.exchange-table {
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0 40px;
  padding-bottom: 30px;
  min-width: 760px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 0 20px;
    padding-bottom: 15px;
  }

  .table-head {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .td {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #88919C;
      width: 28%;

      &.last {
        justify-content: center;
        display: flex;
        width: 16%;
      }
    }
  }

  .tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E7E7E7;

    &:nth-last-child(1) {
      border: none;
    }

    .td {
      display: flex;
      width: 28%;

      &.chart {
        justify-content: center;
        display: flex;
        width: 16%;
      }

      &.change {
        color: #5CC76E;

        &.out {
          color: #E76B66;
        }
      }

      .coin {
        display: flex;
        align-items: center;

        .coin-logo {
          margin-right: 15px;
        }

        .coin-ab {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          color: #1F2531;
          margin-right: 5px;
        }

        .coin-name {
          font-family: 'Golos-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          display: flex;
          align-items: center;
          color: #88919C;
        }
      }

    }
  }
}

.center-block {
  max-width: 1240px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0;
  margin: auto;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.why-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    margin-top: 25px;
    justify-content: space-around;
  }

  .why-item {
    width: 30%;
    min-width: 290px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      padding: 20px;
    }
  }

  h3 {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    color: #1F2531;
    margin: 26px auto;
  }
}

.two-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1240px;
  margin: auto;
  padding: 50px 0;

  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 90%;
      max-width: 360px;
    }

    @media (max-width: 768px) {
      align-items: center;
      width: 100%;
      max-width: 360px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 35px;

      @media (max-width: 768px) {
        margin-bottom: 15px;
        text-align: center;
      }
    }

    p {
      margin-bottom: 70px;
      max-width: 360px;

      @media (max-width: 768px) {
        margin-bottom: 25px;
        text-align: center;
      }
    }

    &.center {
      align-items: center;
    }
  }
}

.button-box {
  display: flex;

  @media (max-width: 768px) {
    justify-content: space-around;
    flex-direction: column;
    max-width: 200px;

    a {
      width: 100%;

      svg {
        width: 100%;
      }
    }
  }

  a {
    margin: 5px;
  }
}

footer {
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 160px 0;
  margin: auto;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1240px;

    .center-block {
      margin: auto;
      margin-bottom: 40px;
      max-width: 911px;
      h2 {
        color: white;
        font-weight: 500;
        font-size: 36px;

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }

    .button-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px auto;

      @media (max-width: 768px) {
        margin: 35px 0;
      }
    }

    .sub-menu {
      display: flex;
      width: 100%;
      padding: 40px 0;
      border-bottom: 1px solid #3A465B;
      border-top: 1px solid #3A465B;
      flex-wrap: wrap;

      .sub-menu-item {
        display: flex;
        flex-direction: column;
        padding-right: 35px;
        min-width: 200px;
        width: max-content;

        p {
          margin-top: 20px;
          color: white;
          font-size: 14px;
          max-width: 265px;

          a {
            color: white;
          }
        }
      }
    }
  }
}

.footer-link {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #BCBCBC;
  display: flex;

  svg {
    margin-right: 8px;
  }

  &.caption {
    color: white;
    margin-bottom: 15px;
    margin-top: 17px;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;

    .corp {
      margin-top: 20px;
    }
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid white;
    border-radius: 2px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered:before {
    content: url("../img/globe.svg");
    margin-right: 5px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    transform: translate(-80%, -65%);
  }
}

.corp {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
}

.team-page, .contacts-page {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  .center-block {
    margin-top: 50px;
    h2 {
      color: white;
      margin-bottom: 30px;
    }

    p {
      color: white;
      margin-bottom: 50px;
      max-width: 920px;
      text-align: center;
      font-size: 18px;
      line-height: 1.6;
    }
  }
}

.contacts-page {
  padding-top: 0;
}

.team-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: white;
    margin-bottom: 30px;
  }

  .team-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
    flex-wrap: wrap;

    .team__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      width: 280px;
      margin-bottom: 50px;

      @media (max-width: 768px) {
        margin-bottom: 25px;
        align-items: center;
      }

      .team-img {
        width: 100%;

        img {
          width: 100%;
        }
      }



      .team-name {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-left: 50px;

        @media (max-width: 768px) {
          margin-left: 0

        }
      }

      .team-position {
        font-family: 'Golos-Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.7;
        color: #8C90A5;
        margin-left: 50px;
        @media (max-width: 768px) {
          margin-left: 0

        }
      }
    }
  }
}

.contact-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  border-radius: 8px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;

  @media (max-width: 768px) {
    padding: 15px;
  }

  .form-group {
    width: 100%;
    margin-bottom: 25px;
    input, textarea, select {
      width: 100%;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #FFFFFF;
      border: 1px solid #EAE9F2;
      border-radius: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.4);
      height: 44px;
      padding: 0 12px;
      font-family: 'Golos-Rgular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.562737px;
      color: #696871;

      option {
        color: inherit;
      }
    }

    label {
      margin-bottom: 5px;
      font-size: 13px;
    }
  }

  textarea {
    min-height: 120px;
  }

  button {
    width: 100%;
    min-height: 44px;
  }
}
